:root{
    --rows: 16;
    --cols: 16;
}
h1 {
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
}
#container {
    border: solid 1px black;
    width: 450px;
    height: 450px;
    display: grid;
    margin: 0 auto;
    margin-top: 25px;
    grid-template-columns: repeat(var(--rows), 1fr);
    grid-template-rows: repeat(var(--cols), 1fr);
}
.cell-style {
    border: solid 1px black;
}


